@import "vw-starter";

.container {
	min-width: 320px;
}

html {
	@include vw-base;
}

body {
    @media screen {
	    width: 100vw;
	    margin-left: calc((100% - 100vw) / 2);
	    overflow-x: hidden;
	}
}

h1 {
	font-size: px2rem(50);
	text-align: center;
}

p {
	font-size: px2rem(16);
	@media (max-width: font-size-breakpoint(12px, $mobile-layout, 16px)) {
		font-size: 12px;
	}
	@media (max-width: font-size-breakpoint(12px, $tablet-layout, 16px)) {
		font-size: 12px;
	}
	@media (max-width: font-size-breakpoint(12px, $desktop-layout, 16px)) {
		font-size: 12px;
	}
}
