@import "vw-starter";

* {
	box-sizing: border-box;
}

html {
	@include vw-base;
}

body {
    @media screen {
	    width: 100vw;
	    margin-left: calc((100% - 100vw) / 2);
	    overflow-x: hidden;
	}
}

h1 {
	font-size: px2rem(50);
	text-align: center;
}

.test {
	
}
